* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
}

.navbar-brand{
  color: black;
  font-weight: bold;
  
}

h1{
  font-size: 20px !important ;
}

.flex-container{
  display: flex ;
}

.btn{
  background-color:#01bf71 !important ;
  color:white !important ;
  box-shadow: none ;
}
